<!DOCTYPE html>
<html>
  <head>
    <!-- Título Dinámico -->
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    <!-- Meta Tags -->
    {% include meta.html %}

    <!-- Soporte para MathJax -->
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [['$', '$'], ['\\(', '\\)']],
          processEscapes: true
        }
      });
    </script>
    <script type="text/javascript" async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>

    <!-- Fallback para navegadores antiguos -->
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Hoja de Estilos -->
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />

    <!-- Feed RSS -->
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
  </head>

  <body>
    <!-- Encabezado -->
    <header class="site-header">
      <div class="container">
        <div class="site-info">
          <a href="{{ site.baseurl }}/" class="site-avatar">
            <img src="{{ site.avatar }}" alt="{{ site.name }}" />
          </a>
          <div class="site-details">
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <p class="site-description">{{ site.description }}</p>
          </div>
        </div>

        <!-- Menú de Navegación -->
        <nav class="site-nav">
        
        <!-- <a href="{{ site.baseurl }}/">Blog</a> --> 
         <!--  <a href="{{ site.baseurl }}/about">Acerca de</a>
         <a href="{{ site.baseurl }}/portafolio">Portafolio</a>
          <a href="{{ site.baseurl }}/recursos">Recursos</a> --> 
        </nav>
      </div>
    </header>

    <!-- Contenido Principal -->
    <main id="main" role="main" class="container">
      {{ content }}
    </main>

    <!-- Pie de Página -->
   
    <footer class="site-footer">
      <div class="container">
        <div class="footer-content">
           <!-- <p>&copy; {{ site.time | date: '%Y' }} {{ site.name }}. Todos los derechos reservados.</p> -->
          {% include svg-icons.html %}
        </div>
      </div>
    </footer> 

    <!-- Google Analytics -->
    {% include analytics.html %}
  </body>
</html>
